
@{
    ViewBag.Title = "Performance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel" id="MainDiv">
    <div class="row">
        <div class="col-md-12">
            <div id="divCreate">
                @Html.Action("Search")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="divList">
                @*@Html.Action("AppUsersList")*@
            </div>
        </div>
    </div>
</div>


<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            Loading, please wait... <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#UpdatePending').change(function () {
                if (this.checked) {
                    $("#cityDV").hide();
                    $("#tallyCityDV").show();
                }
                else {
                    $("#cityDV").show();
                    $("#tallyCityDV").hide();
                }
            });
        });
    </script>
    <script>
        //$(document).on('change', ":checkbox", function () {
        //    $('#IsSMS').change(function () {
        //        if (this.checked) {
        //            $("#IsEmail").prop('checked', false);
        //            $("#IsWhatsApp").prop('checked', false);
        //            $("#SMSRow").show();
        //            $("#EmailRow").hide();
        //            $('#SMSBody').attr("required", "true");
        //            $("#MailBody").removeAttr('required');
        //            $("#MailSubject").removeAttr('required');
        //            //$('#SMSBody').prop('required', true);
        //            //$('#MailBody').prop('required', false);
        //            //$('#MailSubject').prop('required', false);
        //        }
        //        else {
        //            $("#SMSRow").hide();
        //        }
        //    });

        //    $("#IsEmail").click(function () {
        //        if (this.checked) {
        //            $("#IsSMS").prop('checked', false);
        //            $("#IsWhatsApp").prop('checked', false);
        //            $("#SMSRow").hide();
        //            $("#EmailRow").show();
        //            //$('#SMSBody').prop('required', false);
        //            //$('#MailBody').prop('required', true);
        //            //$('#MailSubject').prop('required', true);
        //            $('#SMSBody').removeAttr('required');
        //            $("#MailBody").attr("required", "true");
        //            $("#MailSubject").attr("required", "true");
        //            $('.textarea-editor').summernote({
        //                height: 100, // set editor height
        //                minHeight: null, // set minimum height of editor
        //                maxHeight: null, // set maximum height of editor
        //                focus: false // set focus to editable area after initializing summernote
        //            });
        //        }
        //        else {
        //            $("#EmailRow").hide();
        //        }
        //    });

        //    $("#IsWhatsApp").click(function () {
        //        if (this.checked) {
        //            $("#SMSRow").hide();
        //            $("#EmailRow").hide();
        //            $("#IsEmail").prop('checked', false);
        //            $("#IsSMS").prop('checked', false);
        //        }
        //    });
        //});
        //function onPromoteClick() {
        //    if (!$('#IsEmail').is(':checked') && !$('#IsSMS').is(':checked') && !$('#IsWhatsApp').is(':checked')) {
        //        alert("Check atleast one checkbox to promote");
        //        return false;
        //    }
        //    var checked_checkboxes = $("#dataGrid input[type=checkbox]:checked");
        //    if (checked_checkboxes.length == 0) {
        //        alert("Check atleast one checkbox from the above list to promote");
        //        return false;
        //    }
        //}
    </script>

    <script>
        //$(".form-sample").validate();
    </script>
    <script>
        function onBegin_Ajax() {

        }
        function onCompleteCreate_Ajax() {

        }
        function onBegin_Ajax() {
        }
        function onSuccess_Ajax() {
            //loadDataTableWithButtons();
            LoadTable();
            multiSelect();
            var elmnt = document.getElementById("divList");
            elmnt.scrollIntoView();
        }
        function onFailure_Ajax(xhr, statusDescription) {
            //swal();
            Swal.fire({
                title: 'Error',
                text: xhr.statusDescription,
                icon: 'error',
            }).then((result) => { });
        }
        function onPromoSuccess_Ajax(data) {
            if (data == "sessionexpired") {
            Swal.fire({
                title: 'Session Expired',
                text: "Your Session Expired!! Please login again",
                icon: 'warning',
            }).then((result) => {
                window.location = '@Url.Action("Index", "Login")';
            });
        }
        else {
            //window.location = '@Url.Action("DownloadResponseData", "PerformanceReport")?fileGuid=' + result.FileGuid + '&filename=' + result.FileName;
            Swal.fire({
                text: data,
            }).then((result) => {
                window.location = '@Url.Action("Index", "PerformanceReport")';
            });
        }
    }
    </script>
    <script>
        $(document).ready(function () {
            LoadTable();
        });
        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, column, row, node) {
                        // distinguish between a regular cell and one with an input element
                        if ($(node)[0].children.length === 0) {
                            return data;
                        }
                        else {
                            return $(data).val();
                        }
                    }
                }
            }
        };
        function LoadTable() {
            $("#dataGrid").dataTable().fnDestroy();
            var table = $('#dataGrid').DataTable({
                dom: 'Blfrtip',
                pageLength: 5,
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A4',
                        language: {
                            infoEmpty: "No records available - Got it?",
                        },
                        text: '<b>Download</b> PDF',
                        exportOptions: {
                            format: {
                                body: function (inner, rowidx, colidx, node) {
                                    if ($(node).children("input").length > 0) {
                                        return $(node).children("input").first().val();
                                    } else {
                                        return inner;
                                    }
                                }
                            },
                            columns: "thead th:not(.noExport)"
                        }
                    },
                    {
                        extend: 'excel',
                        messageTop: 'Performance Report',
                        language: {
                            infoEmpty: "No records available - Got it?",
                        },
                        exportOptions: {
                            format: {
                                body: function (inner, rowidx, colidx, node) {
                                    if ($(node).children("input").length > 0) {
                                        return $(node).children("input").first().val();
                                    } else {
                                        return inner;
                                    }
                                }
                            },
                            columns: "thead th:not(.noExport)"
                        }
                    }
                ]
            });

            $('#select_all').click(function () {
                //var c = this.checked;
                //$('.chhselect').prop('checked', c)
                $(':checkbox', table.rows().nodes()).prop('checked', this.checked);
            });

            $(".chhselect").click(function () {
                if (!this.checked) {
                    $("#select_all").prop('checked', false);
                }
                else if ($(".chhselect").length == $(".chhselect:checked").length) {
                    $("#select_all").prop('checked', true);
                }
            });

            // Handle form submission event
            $('#frm-promote').on('submit', function (e) {
                $("#progress").show();
                var form = this;
                // Encode a set of form elements from all pages as an array of names and values
                var params = table.$('input,select,textarea').serializeArray();
                // Iterate over all form elements
                $.each(params, function () {
                    // If element doesn't exist in DOM
                    if (!$.contains(document, form[this.name])) {
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });
            });
        }
    </script>
    <script>
    @*function BranchChanged() {
        $('#hfBranchSelected').val($('#BranchList').val());
        var BranchList = $('#hfBranchSelected').val();
        $('#StateList').html('');
        $('#CityList').html('');
        $('#AreaList').html('');
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("BranchChanged", "AppUsers")',
            dataType: "json",
            data: {BranchList: BranchList},
            success: function (response) {
                var data = [];
                //statelist
                for (var i = 0; i < response.states.length; i++) {
                    array = { label: response.states[i].StateName, value: response.states[i].StateID };
                    data.push(array);
                }
                $("#StateList").multiselect('dataprovider', data);
                //end statelist

                //citylist
                data = [];
                for (var i = 0; i < response.cities.length; i++) {
                    array = { label: response.cities[i].CityName, value: response.cities[i].CityID };
                    data.push(array);
                }
                $("#CityList").multiselect('dataprovider', data);
                //end citylist

                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list

                //billing city list
                //data = [];
                //for (var i = 0; i < response.billingcities.length; i++) {
                //    array = { label: response.billingcities[i].CityName, value: response.billingcities[i].CityName };
                //    data.push(array);
                //}
                $("#tallyCityDV").show();
                var BCData = [];
                BCData = response.billingcities;
                $("#BillingCityList").multiselect('dataprovider', data);
                $("#BillingCityList").multiselect('rebuild');
                //end billing city list
                $("#tallyCityDV").hide();
                $("#progress").hide();
            },
            error: function () {
            }
        });
    }*@
    </script>
    <script>
    function StateChanged() {
        $('#hfStateSelected').val($('#StateList').val());
        $('#hfBranchSelected').val($('#BranchList').val());
        var StateList = $('#hfStateSelected').val();
        var BranchList = $('#hfBranchSelected').val();
        if (BranchList == '') {
            $('option', $('#StateList')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#StateList").multiselect('refresh');
            alert("Please select branch");
            return false;
        }
        $("#CityList").empty();
        $("#DistrictList").empty();
        $("#AreaList").empty();
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("StateChanged", "AppUsers")',
            dataType: "json",
            data: {BranchList: BranchList, StateList: StateList},
            success: function (response) {
                var data = [];

                //districtlist
                data = [];
                for (var i = 0; i < response.districts.length; i++) {
                    array = { label: response.districts[i].DistrictName, value: response.districts[i].DistrictID };
                    data.push(array);
                }
                $("#DistrictList").multiselect('dataprovider', data);
                //end districtlist

                //citylist
                data = [];
                for (var i = 0; i < response.cities.length; i++) {
                    array = { label: response.cities[i].CityName, value: response.cities[i].CityID };
                    data.push(array);
                }
                $("#CityList").multiselect('dataprovider', data);
                //end citylist

                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list

                $("#progress").hide();
            },
            error: function () {
            }
        });
    }
    function BranchChanged() {
        $('#hfBranchSelected').val($('#BranchList').val());
        var BranchList = $('#hfBranchSelected').val();
        $('#StateList').html('');
        $('#CityList').html('');
        $('#AreaList').html('');
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("BranchChanged", "AppUsers")',
            dataType: "json",
            data: {BranchList: BranchList},
            success: function (response) {
                var data = [];
                //statelist
                for (var i = 0; i < response.states.length; i++) {
                    array = { label: response.states[i].StateName, value: response.states[i].StateID };
                    data.push(array);
                }
                $("#StateList").multiselect('dataprovider', data);
                //end statelist

                //citylist
                data = [];
                for (var i = 0; i < response.cities.length; i++) {
                    array = { label: response.cities[i].CityName, value: response.cities[i].CityID };
                    data.push(array);
                }
                $("#CityList").multiselect('dataprovider', data);
                //end citylist

                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list

                //billingcity list

                //data = [];
                //for (var i = 0; i < response.billingcities.length; i++) {
                //    array = { label: response.billingcities[i].CityName, value: response.billingcities[i].BillingCity };
                //    data.push(array);
                //}
                $("#tallyCityDV").show();
                var BCData = [];
                BCData = response.billingcities;
                $("#BillingCityList").multiselect('dataprovider', BCData);
                $("#BillingCityList").multiselect('rebuild');
                //end billing city list
                $("#tallyCityDV").hide();
                $("#progress").hide();
                //end billingcity list

                $("#progress").hide();
            },
            error: function () {
            }
        });
    }
    function DistrictChanged() {
        $('#hfStateSelected').val($('#StateList').val());
        $('#hfBranchSelected').val($('#BranchList').val());
        $('#hfDistrictSelected').val($('#DistrictList').val());
        var StateList = $('#hfStateSelected').val();
        var BranchList = $('#hfBranchSelected').val();
        var DistrictList = $('#hfDistrictSelected').val();

        if (BranchList == '') {
            $('option', $('#DistrictList')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#DistrictList").multiselect('refresh');
            alert("Please select branch");
            return false;
        }
        $("#CityList").empty();
        $("#AreaList").empty();
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DistrictChanged", "AppUsers")',
            dataType: "json",
            data: { BranchList: BranchList, StateList: StateList, DistrictList: DistrictList},
            success: function (response) {
                var data = [];
                //citylist
                data = [];
                for (var i = 0; i < response.cities.length; i++) {
                    array = { label: response.cities[i].CityName, value: response.cities[i].CityID };
                    data.push(array);
                }
                $("#CityList").multiselect('dataprovider', data);
                //end citylist

                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list

                $("#progress").hide();
            },
            error: function () {
            }
        });
    }
    function CityChanged() {
        $('#hfStateSelected').val($('#StateList').val());
        $('#hfBranchSelected').val($('#BranchList').val());
        $('#hfDistrictSelected').val($('#DistrictList').val());
        $('#hfCitySelected').val($('#CityList').val());
        var StateList = $('#hfStateSelected').val();
        var BranchList = $('#hfBranchSelected').val();
        var DistrictList = $('#hfDistrictSelected').val();
        var CityList = $('#hfCitySelected').val();
        if (BranchList == '') {
            $('option', $('#CityList')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#CityList").multiselect('refresh');
            alert("Please select branch");
            return false;
        }
        $("#AreaList").empty();
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CityChanged", "AppUsers")',
            dataType: "json",
            data: { BranchList: BranchList, StateList: StateList, DistrictList: DistrictList, CityList: CityList},
            success: function (response) {
                var data = [];
                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list
                $("#progress").hide();
            },
            error: function () {
            }
        });
    }
    </script>
}