@model IEnumerable<WBT.DLCustomerCreation.BranchDetails>
<div class="row">
    <div class="col-md-12">      @*col-lg-12  grid-margin strech-card*@
        <div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"> Branch List </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @*<h4 class="card-title"> Branch List </h4>*@
                    <div class="text-md-right"></div>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered table-striped" id="dataGrid">
                            <thead>
                                <tr>
                                    <th>
                                        Branch Name
                                    </th>
                                    <th>
                                        Mobile Number
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        QR Codes
                                    </th>
                                    <th class="notexport"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.HiddenFor(Model => item.BranchID)
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @item.Mobile
                                                </td>
                                                <td>
                                                    @item.City
                                                </td>
                                                <td>
                                                    @item.StateName
                                                </td>
                                                <td>
                                                    @item.QRCodes
                                                </td>
                                                <td>
                                                    @Ajax.ActionLink("Edit", "EditBranchDetails", "BranchCreation", new { BranchID = item.BranchID }, new AjaxOptions { UpdateTargetId = "divBranchCreate", HttpMethod = "get", OnComplete = "Ajax_OnComplete", OnFailure = "Ajax_Edit_Failure", OnSuccess = "onEditSuccess", LoadingElementId = "progress" }, new { @class = "btn btn-info btn-xs" }) |
                                                    @Ajax.ActionLink("Delete", "Delete", "BranchCreation", new { BranchID = item.BranchID }, new AjaxOptions { Confirm = "Are you sure you want to do this Branch?", HttpMethod = "get", OnSuccess = "onDeleteSuccess", LoadingElementId = "progress" }, new { @class = "btn btn-danger btn-xs" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>