@model IEnumerable<WBT.DLCustomerCreation.DLRoleCreation>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel" id="MainDiv">
    <div class="row">
        <div class="col-12 grid-margin">
            <div id="divCreate">
                @Html.Action("Create")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div id="divList">
                @Html.Action("RoleList")
            </div>
        </div>
    </div>
</div>

<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            Loading, please wait... <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>

@section scripts {
    <script>
        function onCreateSuccess_Ajax(data) {
            Swal.fire({
                title: 'Success!!',
                text: 'RoleCreation Saved Successfully',
                icon: 'success',
            }).then((result) => {
                $("#divCreate").load('@Url.Action("Create", "RoleCreation")');
                $("#divList").load('@Url.Action("RoleList", "RoleCreation")');
                setTimeout(function () {
                    $("#dataGrid").dataTable().fnDestroy();
                    loadDataTableWithButtons();
                }, 1000);
            });
        }
        function onEditSuccess_Ajax(data) {
            if (data.Message.includes("Success")) {
                Swal.fire({
                    title: 'Success!!',
                    text: 'Role Updated Successfully',
                    icon: 'success',
                }).then((result) => {
                    $("#divCreate").load('@Url.Action("Create", "RoleCreation")');
                    $("#divList").load('@Url.Action("RoleList", "RoleCreation")');
                    setTimeout(function () {
                        $("#dataGrid").dataTable().fnDestroy();
                        loadDataTableWithButtons();
                    }, 1000);
                });
            }
            else {
                Swal.fire(data.Message);
            }
        }
        function onEditSuccess(result) {
            if (result.url) {
                window.location.href = result.url;
            }
            var elmnt = document.getElementById("maindiv");
            elmnt.scrollIntoView();
            $("#Department").focus();
            LoadListBox();
        }
        function onBegin_Ajax(data) {
        }
        function onEditCompleteCreate_Ajax() {

        }
        function onFailure_Ajax() {
            Swal.fire({
                title: 'Error',
                text: 'Please try again later',
                icon: 'error',
            }).then((result) => { });
        }
        function Ajax_Edit_Failure(xhr, statusDescription) {
            Swal.fire({
                title: 'Error',
                text: xhr.statusDescription,
                icon: 'error',
            }).then((result) => { });
        }
        function Ajax_OnComplete() {

        }
        function onSaveCompleteCreate_Ajax() {

        }
        function onDeleteSuccess(data) {
            if (data.url) {
                window.location = '@Url.Action("Index", "Login")';
            }
            Swal.fire({
                text: data,
            }).then((result) => {
                $("#divList").load('@Url.Action("RoleList", "RoleCreation")');
                setTimeout(function () {
                    $("#dataGrid").dataTable().fnDestroy();
                    loadDataTableWithButtons();
                }, 1000);
            });
        }
        function LoadListBox() {
            $('.listbox').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                maxHeight: 450,
            });
        }
    </script>

    <script>
    function btnCancel_Click() {
        $("#divCreate").load('@Url.Action("Create", "RoleCreation")');
        $("#dataGrid").dataTable().fnDestroy();
        loadDataTableWithButtons();
        setTimeout(function(){ LoadListBox(); }, 1000);
    }
    </script>

    <script type="text/javascript">
        $('#RoleName').change(function () {
            var selection = $('#RoleName').val();
            var select = $('#Department').val();
            if (selection.length > 0) {
                $("#progress").show();
                $.post('@Url.Action("SearchName", "RoleCreation")', { RoleName: selection},
            function (data) {
                if (data == 0) {
                    $("#RoleName").html('<font color="Green">Available !. you can take it.</font>');
                    $("#RoleName").css("border-color", "Green");
                    $("#progress").hide();
                }
                else {
                    Swal.fire({
                        title: "Duplicate Role Name!!",
                        text: "RoleName Name already taken!... Please Try with the different one",
                        type: "error",
                        icon: "error",
                    }).then((result) => {
                        $("#progress").hide();
                        $('#RoleName').val('');
                        $('#RoleName').focus();
                    });
                }
            })
        }
    });
    function clearSearch() {
        $("#Name").val('');
        $("#divList").html('');
        $("#divList").load('@Url.Action("RoleList", "RoleCreation")');
        loadDataTableWithButtons();
    }
    </script>

    <script>
    function LoadDeptRoles() {
        var DeptID = $("#DepartmentID").val();
        if (DeptID != "" && DeptID != null) {
            $("#progress").show();
            $('option', $('#ParentRoleID')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#ParentRoleID").multiselect('refresh');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadDeptRoles", "RoleCreation")',
                dataType: "json",
                data: { DeptID: DeptID},
                success: function (response) {
                    var data = [];
                    //Parent Role List
                    data = [];
                    array = { label: "Select Parent Role", value: "" };
                    data.push(array);

                    for (var i = 0; i < response.length; i++) {
                        array = { label: response[i].RoleName, value: response[i].RoleID };
                        data.push(array);
                    }
                    $("#ParentRoleID").multiselect('dataprovider', data);
                    //end Parent Role List
                    $("#progress").hide();
                },
                error: function () {
                    $("#progress").hide();
                }
            });
        }
    }
    </script>


    @*<script>
            jQuery(document).ready(function ($) {
                        loadDataTableWithButtons();
                });
        </script>*@
<script>
    jQuery(document).ready(function ($) {
        // loadTable();
        loadDataTableWithButtons();
    });
</script>

    @*function loadTable() {
        jQuery("#dataGrid").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": [{ extend: "copy", extend: "csv", extend: "excel", extend: "pdf", extend: "print", extend: "colvis" }]
        }).buttons().container().appendTo('#dataGrid_wrapper .col-md-6:eq(0)');
    }*@

    @*<script type="text/javascript">
            $(function () {
                jQuery("#Name").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("SearchByName", "RoleCreation")',
                            data: { Name: request.term},
                            dataType: "HTML",
                            type: "POST",
                            success: function (data) {
                                $("#divList").html('');
                                $("#divList").html(data);
                                loadDataTableWithButtons();
                            },
                            error: function (response) {
                                swal(response.responseText);
                            },
                            failure: function (response) {
                                swal(response.responseText);
                            }
                        });
                    },
                    select: function (e, i) {
                        $("#Name").val(i.item.val);
                    },
                    minLength: 0
                });
            });
        </script>*@

}