@model IEnumerable<WBT.DLCustomerCreation.SalesOrders>
@using WBT.Common
@{
    ViewBag.Title = "Sales Order";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainDiv">
    <div class="row">
        <div class="col-md-12">
            <div id="divCreate">
                @Html.Action("Search")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="divList">
                @Html.Action("SalesOrdersList")
            </div>
        </div>
    </div>
</div>
<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            Loading, please wait... <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>

@section scripts {
    <script>

        function onSuccess_Ajax() {
            loadDataTableWithButtons();
        }
        function onCompleteCreate_Ajax() { }
        function onCreateSuccess_Ajax() { }
        function onEditSuccess_Ajax() { }
        function onEditSuccess() {
            var elmnt = document.getElementById("mainDiv");
            elmnt.scrollIntoView();
            LoadListBox();
        }
        function onBegin_Ajax(data) { }
        function onEditCompleteCreate_Ajax() { }
        function onFailure_Ajax() {
            Swal.fire({
                title: 'Error',
                text: 'Please try again later',
                icon: 'error',
            }).then((result) => {
            });
        }
        function Ajax_Edit_Failure() { }
        function Ajax_OnComplete() { }
        function onSaveCompleteCreate_Ajax() { }
        function LoadListBox() {
            $('.listbox').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                maxHeight: 450,
            });
        }

        //var table1 = $('.dataGrid').DataTable();

        //$('#select_all').click(function () {
        //    //var c = this.checked;
        //    //$('.chkselect').prop('checked', c)
        //    $(':checkbox', table1.rows().nodes()).prop('checked', this.checked);
        //});

        //$(".chkselect").click(function () {
        //    if (!this.checked) {
        //        $("#select_all").prop('checked', false);
        //    }
        //    else if ($(".chkselect").length == $(".chkselect:checked").length) {
        //        $("#select_all").prop('checked', true);
        //    }
        //});
        //$(document).ready(function){
        //    var table = $('#datatable').DataTable();
        //    var tableTools = new $.fn.DataTable.tableTools(table, {
        //        'sSwfPath:'//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf'
        //    });
        //    $(tableTools.fnContainer()).insertBefore('#datatable_wrapper');
        //});

        $(document).ready(function ($) {
            // loadTable();
            loadDataTableWithButtons();
        });

        function loadTable() {
            jQuery("#dataGrid").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": [{ extend: "copy", extend: "csv", extend: "excel", extend: "pdf", extend: "print", extend: "colvis" }]
            }).buttons().container().appendTo('#dataGrid_wrapper .col-md-6:eq(0)');
        }
        
        function TallySync(SalesOrderNumber) {
            $("#progress").show();
        $.ajax({
            url: '@Url.Action("TallySync", "SalesOrderEdit")',
            data: "{ 'ID': '" + SalesOrderNumber + "'}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == "0") {
                    window.location = '@Url.Action("Index", "Login")';
                }
                else if (data == "1") {
                    Swal.fire({
                            title: "Please open Tally!",
                            text: "Please install the service and open tally software, wait for 10 seconds and click on Tally Sync button again",
                            icon: "error",
                        }).then(function () {
                            $("#progress").hide();
                        });
                }
                else {
                    if (data == "Tally Sync Successful!!") {
                        Swal.fire({
                            title: "Success!",
                            text: data,
                            icon: "success",
                        }).then(function () {
                            $("#progress").hide();
                            $("divList").load('@Url.Action("SalesOrdersList", "SalesOrder")');
                        });
                    }
                    else {
                        $("#progress").hide();
                        Swal.fire(data);
                    }
                }
            },
            error: function (response) {
                Swal.fire({
                    title: "Error!",
                    text: response.responseText,
                    icon: "error",
                }).then(function () { $("#progress").hide();});
            },
            failure: function (response) {
                    Swal.fire({
                    title: "Error!",
                    text: response.responseText,
                    icon: "error",
                }).then(function () { $("#progress").hide();});
            }
        });
    }
    </script>
}