
@model IEnumerable<WBT.DLCustomerCreation.Templates>
<div class="row">
    <div class="col-12">
        <div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"> Whatsapp Templates List </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-bordered table-striped" id="dataGrid">
                            <thead>
                                <tr>
                                    <th>
                                        Template Name
                                    </th>
                                    <th>
                                        Created Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th class="notexport">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.HiddenFor(Model => item.ID)
                                                    @item.TemplateName
                                                </td>
                                                <td>
                                                    @item.CreatedDate.Value.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @item.Status
                                                </td>
                                                <td>
                                                    @Ajax.ActionLink("Edit", "Edit", "WhatsappTemplates", new { ID = item.ID }, new AjaxOptions { UpdateTargetId = "divCreate", HttpMethod = "get", OnSuccess = "onEditSuccess", LoadingElementId = "progress" }, new { @class = "btn btn-info btn-xs" }) |
                                                    @Ajax.ActionLink("Delete", "Delete", "WhatsappTemplates", new { ID = item.ID }, new AjaxOptions { Confirm = "Are you sure you want to do this Template?", HttpMethod = "get", OnSuccess = "onDeleteSuccess", LoadingElementId = "progress" }, new { @class = "btn btn-danger btn-xs" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

