@model WBT.DLCustomerCreation.DLSubCategoryCreation
@using (Ajax.BeginForm("UpdateCategory", "Category", null, new AjaxOptions
{
    UpdateTargetId = "divList",
    OnSuccess = "onEditSuccess_Ajax",
    HttpMethod = "post",
    LoadingElementId = "progress"
}, new { @class = "form-sample" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OrgID)
    @Html.HiddenFor(model => model.IsTallyUpdated)
    @Html.HiddenFor(model => model.TallyUpdatedDate)
    @Html.HiddenFor(model => model.CreatedByID)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.ModifiedByID)
    @Html.HiddenFor(model => model.ModifiedDate)
    @Html.HiddenFor(model => model.SubCategoryID)

    <div>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"> Update Category </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="maindiv">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Category </label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control ", @required = "Required", @placeholder = "Sub Category Name", @maxlength = "50", @autocomplete = "off" } })

                                </div>
                                @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Group </label>
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.CatgList, "Select Group", new { @class = "form-control listbox" })
                                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-footer">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
