@model IEnumerable<WBT.DLCustomerCreation.ChannelPartner>

   
<div class="row">
    <div class="col-12">
        <div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"> Channel Partner List </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-bordered table-striped" id="dataGrid">
                            @*dataGrid*@
                            <thead>
                                <tr>
                                    <th>
                                        Firm Name
                                    </th>
                                    <th>
                                        Channel Partner Type
                                    </th>
                                    <th>
                                        Associated To
                                    </th>
                                    <th>
                                        Mobile Number
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th class="notexport"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.HiddenFor(Model => item.ChannelPartnerID)
                                                    @item.ChannelPartnerName
                                                </td>
                                                <td>
                                                    @item.ChannelType
                                                </td>
                                                <td>
                                                    @item.AssociatedToName
                                                </td>
                                                <td>
                                                    @item.Mobile
                                                </td>
                                                <td>
                                                    @item.City
                                                </td>
                                                <td>
                                                    @item.StateName
                                                </td>
                                                <td>
                                                    @Ajax.ActionLink("Edit", "Edit", "ChannelPartners", new { ChannelPartnerID = item.ChannelPartnerID }, new AjaxOptions { UpdateTargetId = "divCreate", HttpMethod = "get", OnComplete = "Ajax_OnComplete", OnFailure = "Ajax_Edit_Failure", OnSuccess = "onEditSuccess", LoadingElementId = "progress" }, new { @class = "btn btn-info btn-xs" }) |
                                        @Ajax.ActionLink("Delete", "Delete", "ChannelPartners", new { ChannelPartnerID = item.ChannelPartnerID }, new AjaxOptions { Confirm = "Are you sure you want to do this Channel Partner?", HttpMethod = "get", OnSuccess = "onDeleteSuccess", LoadingElementId = "progress" }, new { @class = "btn btn-danger btn-xs" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      