@model IEnumerable<WBT.DLCustomerCreation.DLItemCreation>
@{
    ViewBag.Title = "Item Creation";
}

<div id="MainDiv">
    <div class="row">
        <div class="col-12">
            <div id="divCreate">
                @Html.Action("Create")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div id="divList">
                @Html.Action("ItemList")
            </div>
        </div>
    </div>
</div>

<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            Loading, please wait... <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>

@section scripts {

    <script>


        function FillSubCategory() {
            var categoryID = $("#CategoryID").val();

            if (categoryID != "" && categoryID != null) {
            $("#progress").show();
            $('option', $('#SubCategoryID')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#SubCategoryID").multiselect('refresh');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FillSubCategory", "ItemCreation")',
                dataType: "json",
                data: { CategoryID: categoryID },
                success: function (response) {
                    var data = [];
                    data = [];
                    array = { label: "Select Category", value: "" };
                    data.push(array);

                    for (var i = 0; i < response.length; i++) {
                        array = { label: response[i].SubCategoryName, value: response[i].SubCategoryID };
                        data.push(array);
                    }
                    $("#SubCategoryID").multiselect('dataprovider', data);
                    $("#progress").hide();
                },
                error: function () {
                }
            });
        }
        }

        function BagUnitChanged() {

            if ($("#PacketUOMID").val() != 0) {

                //if ($("#BagUOMID").val() != null && $("#PacketQTY").val() != "" && $("#BagQTY").val() != "" && $("#BagQTY").val() != "0" && $("#PacketQTY").val() != "0") {
                    var bagUnit = $('#BagUOMID :selected').text();
                    var packetUnit = $('#PacketUOMID :selected').text();
                    var bagSize = $("#BagQTY").val();
                    var packetSize = $("#PacketQTY").val();

                    $("#progress").show();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("FillItemNameText", "ItemCreation")',
                        dataType: "json",
                        data: { BagUnit: bagUnit, PacketUnit: packetUnit, BagSize: bagSize, PacketSize: packetSize },
                        success: function (response) {

                            if(response == 0)
                            {
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Please select valid units',
                                    icon: 'error',
                                }).then((result) => {
                                    $("#progress").hide();
                                    $("#BagQTY").val(null);
                                    $("#PacketQTY").val(null);

                                    $('option', $('#PacketUOMID')).each(function (element) {
                                    $(this).removeAttr('selected').prop('selected', false);
                                    });
                                    $("#PacketUOMID").multiselect('refresh');

                                    $('option', $('#BagUOMID')).each(function (element) {
                                    $(this).removeAttr('selected').prop('selected', false);
                                    });
                                    $("#BagUOMID").multiselect('refresh');

                                    $("#ItemNameWithUnit").val(null);
                                });
                            }
                            else
                            {
                                $("#ItemNameWithUnit").val(response);
                            }

                            $("#progress").hide();
                        },
                        error: function () {
                            $("#progress").hide();
                        }
                    });


                //}
                //else {
                //    Swal.fire({
                //        title: 'Error',
                //        text: 'Please select proper details like packet size and unit, bag size and unit',
                //        icon: 'error',
                //    }).then((result) => {

                //                    $('option', $('#PacketUOMID')).each(function (element) {
                //                    $(this).removeAttr('selected').prop('selected', false);
                //                    });
                //                    $("#PacketUOMID").multiselect('refresh');

                //                    $('option', $('#BagUOMID')).each(function (element) {
                //                    $(this).removeAttr('selected').prop('selected', false);
                //                    });
                //                    $("#BagUOMID").multiselect('refresh');
                //        return false;
                //    });
                //}
            }
            else {
                Swal.fire({
                    title: 'Error',
                    text: 'Please select Packet Unit',
                    icon: 'error',
                }).then((result) => {
                                    $('option', $('#PacketUOMID')).each(function (element) {
                                    $(this).removeAttr('selected').prop('selected', false);
                                    });
                                    $("#PacketUOMID").multiselect('refresh');

                                    $('option', $('#BagUOMID')).each(function (element) {
                                    $(this).removeAttr('selected').prop('selected', false);
                                    });
                                    $("#BagUOMID").multiselect('refresh');
                });
            }
        }

        function AltChange() {
            if ($("#BaseUnit").val() != null) {
                var BaseUOM = $('#BaseUnit :selected').text();
                var AlternateUOM = $('#AlternateUnit :selected').text();
                $("#BaseUnitName").val(BaseUOM);
                $("#AlternateUnitName").val(AlternateUOM);
            }
            else {
                Swal.fire({
                    title: 'Error',
                    text: 'Please select Packet Unit',
                    icon: 'error',
                }).then((result) => {   $('option', $('#PacketUOMID')).each(function (element) {
                                        $(this).removeAttr('selected').prop('selected', false);
                                        });
                                        $("#PacketUOMID").multiselect('refresh');

                                        $('option', $('#BagUOMID')).each(function (element) {
                                        $(this).removeAttr('selected').prop('selected', false);
                                        });
                                        $("#BagUOMID").multiselect('refresh');
                                        return false;
                });
            }
        }

          function onCreateSuccess_Ajax(data) {
            Swal.fire({
                //title: 'Success!!',
                text: data,
                //icon: 'success',
            }).then((result) => {
                $("#divCreate").load('@Url.Action("Create", "ItemCreation")');
                $("#divList").load('@Url.Action("ItemList", "ItemCreation")');
                //$("#dataGrid").dataTable().fnDestroy();
                multiSelect();
                loadDataTableWithButtons();
            });
          }
        function onEditSuccess_Ajax(data) {

            Swal.fire({
                //title: 'Success!!',
                text: data.Message,
                //icon: 'success',
            }).then((result) => {
                $("#divCreate").load('@Url.Action("Create", "ItemCreation")');
                $("#divList").load('@Url.Action("ItemList", "ItemCreation")');
                //$("#dataGrid").dataTable().fnDestroy();
                multiSelect();
                loadDataTableWithButtons();

            });
    }
        function onEditSuccess() {
            AltChange();
    }
        function onBegin_Ajax(data) {
            jQuery("#progress").hide();
    }
    function onEditCompleteCreate_Ajax() {
        LoadListBox();
    }
        function onFailure_Ajax() {
         Swal.fire({
                title: 'Error',
                text: 'Please try again later',
                icon: 'error',
         }).then((result) => { LoadListBox();  });
    }
        function Ajax_Edit_Failure(xhr, statusDescription) {
            Swal.fire({
                title: 'Error',
                text: xhr.statusDescription,
                icon: 'error',
            }).then((result) => { LoadListBox(); });
    }
    function Ajax_OnComplete() {
       // LoadListBox();
        $("#progress").hide();
    }
    function onSaveCompleteCreate_Ajax() {
       // LoadListBox();
         $("#progress").hide();
    }


        jQuery(document).ready(function ($) {

            jQuery("a").tooltip();
            loadDataTableWithButtons();

            $('#AlternateUnit').change(function () {
                var chk = document.getElementById('WhareDiv');
                if ($("#AlternateUnit").val() != 0) {
                    //$('#WhareDiv').toggle($(this).prop('changed'));
                    chk.style.display = '';
                }
                else {
                    chk.style.display = 'none';
                }

            });

             $('.numberonly').keypress(function (e) {
                  if (event.which != 46 && (event.which < 47 || event.which > 59))
                    {
                        event.preventDefault();
                        if ((event.which == 46) && ($(this).indexOf('.') != -1)) {
                            event.preventDefault();
                        }
                    }
            });
        });
    </script>


}