@model WBT.DLCustomerCreation.CustomerPromotion


@{
    ViewBag.Title = "Customers";
}

<section class="content">
    <div class="container-fluid">
        @Html.Action("Search")
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Customer List</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" id="dvList">

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</section>
<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            Loading, please wait... <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>

@section scripts{
    <script>
        function LoadRecords() {
            $("#progress").show();
            var search = {};
            search.BranchList = $("#hfBranchSelected").val();
            search.FromDate = $("#FromDate").val();
            search.ToDate = $("#ToDate").val();
            search.StateList = $("#hfStateSelected").val();
            search.DistrictList = $("#hfDistrictSelected").val();
            search.CityList = $("#hfCitySelected").val();
            search.BillingCityList = $("#hfBCitySelected").val();

            $.ajax({
                url: '@Url.Action("GetList", "AppUsers")',
                dataType: "json",
                success: function (result) {
                    $("#dataGrid").DataTable({
                        "processing": true, // for show progress bar
                        "serverSide": true, // for process server side
                        "filter": false, // this is for disable filter (search box)
                        "orderMulti": false, // for disable multiple column at once
                        "ajax": {
                            "url": '@Url.Action("GetList", "AppUsers")',
                            "type": "POST",
                            "data": JSON.stringify({ search: Search }),
                            "datatype": "json"
                        },
                        "columns": result.columns
                    });
                }
            });
        @*$("#dataTable").DataTable({
            "dom": 'lBrtip',
            "pageLength": 5,
            "buttons": [{
                extend: 'collection',
                className: 'exportButton',
                text: 'Data Export',
                buttons: [{
                    extend: 'copy',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                            search: 'none'
                        }
                    },
                    //the remaining buttons here
                }]
            }],
            "ajax": {
                "url": '@Url.Action("GetList", "AppUsers")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "FirmName", "name": "FirmName" },
                { "data": "Name", "name": "OwnerName" },
                { "data": "MobileNumber", "name": "MobileNumber" },
                { "data": "EmailID", "name": "EmailID" },
                { "data": "BillingCity", "name": "City" },
                { "data": "BillingState", "name": "State" },
                { "data": "CreationDate", "name": "CreatedDate" },
                { "data": "UpdatedDate", "name": "UpdatedDate" },
                { "data": "LedgerType", "name": "LedgerType" },
                { "data": "CompanyType", "name": "CompanyType" },
                { "data": "CustomerType", "name": "CustomerType" },
                { "data": "TypeofCategory", "name": "CategoryType" },
                { "data": "RegistrationType", "name": "TaxationType" },
                { "data": "CreatedStr", "name": "CreatedBy" },
                { "data": "UpdatedStr", "name": "UpdatedBy" },

            ],
            "serverSide": "true",
            "order":[0,"asc"],
            "processing": "true",
            "language": {
                "processing":"processing... please wait"
            }
        });*@
        $("#progress").hide();
        var elmnt = document.getElementById("dvList");
        elmnt.scrollIntoView();
    }
    </script>
    <script>
        function onSuccess_Ajax() {
            loadDataTableWithButtons();
            var elmnt = document.getElementById("dvList");
            elmnt.scrollIntoView();
        }
        function pageChanged() {
            loadDataTableWithButtons();
        }
        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, column, row, node) {
                        // distinguish between a regular cell and one with an input element
                        if ($(node)[0].children.length === 0) {
                            return data;
                        }
                        else {
                            return $(data).val();
                        }
                    }
                }
            }
        };
        function LoadTable() {
            loadDataTableWithButtons();
            var table1 = $('#dataGrid').DataTable();

            $('#select_all').click(function () {
                $(':checkbox', table1.rows().nodes()).prop('checked', this.checked);
            });

            $(".chkselect").click(function () {
                if (!this.checked) {
                    $("#select_all").prop('checked', false);
                }
                else if ($(".chkselect").length == $(".chkselect:checked").length) {
                    $("#select_all").prop('checked', true);
                }
            });

            // Handle form submission event
            $('#frm-promote').on('submit', function (e) {
                var form = this;

                // Encode a set of form elements from all pages as an array of names and values
                var params = table1.$('input,select,textarea').serializeArray();

                // Iterate over all form elements
                $.each(params, function () {
                    // If element doesn't exist in DOM
                    if (!$.contains(document, form[this.name])) {
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });
            });
        }
    </script>

    <script>
        jQuery(document).ready(function ($) {
            loadDataTableWithButtons();
        });
    </script>

    <script>
    function StateChanged() {
        $('#hfStateSelected').val($('#StateList').val());
        $('#hfBranchSelected').val($('#BranchList').val());
        var StateList = $('#hfStateSelected').val();
        var BranchList = $('#hfBranchSelected').val();
        if (BranchList == '') {
            $('option', $('#StateList')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#StateList").multiselect('refresh');
            swal("Please select branch");
            return false;
        }
        $("#CityList").empty();
        $("#DistrictList").empty();
        $("#AreaList").empty();
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("StateChanged", "AppUsers")',
            dataType: "json",
            data: {BranchList: BranchList, StateList: StateList},
            success: function (response) {
                var data = [];
                //districtlist
                data = [];
                for (var i = 0; i < response.districts.length; i++) {
                    array = { label: response.districts[i].DistrictName, value: response.districts[i].DistrictID };
                    data.push(array);
                }
                $("#DistrictList").multiselect('dataprovider', data);
                //end districtlist

                //citylist
                data = [];
                for (var i = 0; i < response.cities.length; i++) {
                    array = { label: response.cities[i].CityName, value: response.cities[i].CityID };
                    data.push(array);
                }
                $("#CityList").multiselect('dataprovider', data);
                //end citylist

                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list

                $("#progress").hide();
            },
            error: function () {
            }
        });
    }
    function BranchChanged() {
        $('#hfBranchSelected').val($('#BranchList').val());
        var BranchList = $('#hfBranchSelected').val();
        $('#StateList').html('');
        $('#CityList').html('');
        $('#AreaList').html('');
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("BranchChanged", "AppUsers")',
            dataType: "json",
            data: {BranchList: BranchList},
            success: function (response) {
                if (response == "sessionexpired") {
                    window.location = '@Url.Action("Index", "Login")';
                }
                else {
                    var data = [];
                    //statelist
                    for (var i = 0; i < response.states.length; i++) {
                        array = { label: response.states[i].StateName, value: response.states[i].StateID };
                        data.push(array);
                    }
                    $("#StateList").multiselect('dataprovider', data);
                    //end statelist

                    //citylist
                    data = [];
                    for (var i = 0; i < response.cities.length; i++) {
                        array = { label: response.cities[i].CityName, value: response.cities[i].CityID };
                        data.push(array);
                    }
                    $("#CityList").multiselect('dataprovider', data);
                    //end citylist

                    //area list
                    data = [];
                    for (var i = 0; i < response.areaLists.length; i++) {
                        array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                        data.push(array);
                    }
                    $("#AreaList").multiselect('dataprovider', data);
                    //end area list

                    $("#progress").hide();
                }
            },
            error: function () {
            }
        });
    }
    function DistrictChanged() {
        $('#hfStateSelected').val($('#StateList').val());
        $('#hfBranchSelected').val($('#BranchList').val());
        $('#hfDistrictSelected').val($('#DistrictList').val());
        var StateList = $('#hfStateSelected').val();
        var BranchList = $('#hfBranchSelected').val();
        var DistrictList = $('#hfDistrictSelected').val();

        if (BranchList == '') {
            $('option', $('#DistrictList')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#DistrictList").multiselect('refresh');
            swal("Please select branch");
            return false;
        }
        $("#CityList").empty();
        $("#AreaList").empty();
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DistrictChanged", "AppUsers")',
            dataType: "json",
            data: { BranchList: BranchList, StateList: StateList, DistrictList: DistrictList},
            success: function (response) {
                if (response == "sessionexpired") {
                    window.location = '@Url.Action("Index", "Login")';
                }
                var data = [];
                //citylist
                data = [];
                for (var i = 0; i < response.cities.length; i++) {
                    array = { label: response.cities[i].CityName, value: response.cities[i].CityID };
                    data.push(array);
                }
                $("#CityList").multiselect('dataprovider', data);
                //end citylist

                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list

                $("#progress").hide();
            },
            error: function () {
            }
        });
    }
    function CityChanged() {
        $('#hfStateSelected').val($('#StateList').val());
        $('#hfBranchSelected').val($('#BranchList').val());
        $('#hfDistrictSelected').val($('#DistrictList').val());
        $('#hfCitySelected').val($('#CityList').val());
        var StateList = $('#hfStateSelected').val();
        var BranchList = $('#hfBranchSelected').val();
        var DistrictList = $('#hfDistrictSelected').val();
        var CityList = $('#hfCitySelected').val();
        if (BranchList == '') {
            $('option', $('#CityList')).each(function(element) {
                $(this).removeAttr('selected').prop('selected', false);
              });
            $("#CityList").multiselect('refresh');
            swal("Please select branch");
            return false;
        }
        $("#AreaList").empty();
        $("#progress").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CityChanged", "AppUsers")',
            dataType: "json",
            data: { BranchList: BranchList, StateList: StateList, DistrictList: DistrictList, CityList: CityList},
            success: function (response) {
                if (response == "sessionexpired") {
                    window.location = '@Url.Action("Index", "Login")';
                }
                var data = [];
                //area list
                data = [];
                for (var i = 0; i < response.areaLists.length; i++) {
                    array = { label: response.areaLists[i].BillingArea, value: response.areaLists[i].BillingArea };
                    data.push(array);
                }
                $("#AreaList").multiselect('dataprovider', data);
                //end area list
                $("#progress").hide();
            },
            error: function () {
            }
        });
    }
    </script>
    <script>
        $(document).ready(function () {
            $("#FromDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                maxDate: new Date(),
                onClose: function (date) {

                    var selectedDate = new Date(date);
                    var msecsInADay = 86400000;
                    var endDate = new Date(selectedDate.getTime() + msecsInADay);

                    //Set Minimum Date of EndDatePicker After Selected Date of StartDatePicker
                    $("#ToDate").datepicker("option", "minDate", date);
                }
            });

            $("#ToDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                maxDate: new Date(),
            });
        });
    </script>
}
