@model CCAPortal.Models.Search


<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Filter Options</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("GetList", "AppUsers", null, new AjaxOptions
        {
            UpdateTargetId = "dvList",
            OnSuccess = "onSuccess_Ajax",
            HttpMethod = "post",
            LoadingElementId = "progress"
        }, new { @class = "form-sample" }))
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.BranchList, (SelectList)ViewBag.BranchList, new { @class = "form-control listbox", @multiple = "multiple", @required = "required", @onchange = "BranchChanged()" })
                            @Html.Hidden("hfBranchSelected")
                        </div>
                        @Html.ValidationMessageFor(model => model.BranchList, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>From Date</label>
                        @Html.TextBoxFor(a => a.FromDate, null, new { @class = "form-control datepicker", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>To Date</label>
                        @Html.TextBoxFor(a => a.ToDate, null, new { @class = "form-control datepicker", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>State</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.StateList, (SelectList)ViewBag.StateList, new { @class = "form-control dropdown listbox", @multiple = "multiple", @onchange = "StateChanged()" })
                            @Html.Hidden("hfStateSelected")
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>District</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.DistrictList, (SelectList)ViewBag.DistrictList, new { @class = "form-control dropdown listbox", @multiple = "multiple", @onchange = "DistrictChanged()" })
                            @Html.Hidden("hfDistrictSelected")
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="cityDV">
                    <div class="form-group">
                        <label>City</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.CityList, (SelectList)ViewBag.CityList, new { @class = "form-control dropdown listbox", @multiple = "multiple", @onchange = "CityChanged()" })
                            @Html.Hidden("hfCitySelected")
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="display:none;" id="tallyCityDV">
                    <div class="form-group">
                        <label>Tally City List</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.BillingCityList, (SelectList)ViewBag.BillingCityList, new { @class = "form-control listbox", @multiple = "multiple" })
                            @Html.Hidden("hfBCitySelected")
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Area</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.AreaList, (SelectList)ViewBag.AreaList, new { @class = "form-control listbox", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Ledger Type</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.LedgerTypeID, (SelectList)ViewBag.LedgerTypes, new { @class = "form-control dropdown listbox", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Customer Type</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.CustomerTypeList, (SelectList)ViewBag.CustomerTypes, new { @class = "form-control dropdown listbox", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Company Type</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.CompanyTypeList, (SelectList)ViewBag.CompanyTypes, new { @class = "form-control dropdown listbox", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Category Type</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.CategoryTypeList, (SelectList)ViewBag.CategoryTypes, new { @class = "form-control dropdown listbox", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Taxation Type</label>
                        <div class="input-group">
                            @Html.DropDownListFor(a => a.TaxationTypeList, (SelectList)ViewBag.TaxationTypes, new { @class = "form-control dropdown listbox", @multiple = "multiple" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Customer</label>
                        @Html.TextBoxFor(a => a.CustomerName, null, new { @class = "form-control", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Religion</label>
                        <div class="input-group">
                            @Html.DropDownList("Religion", new List<SelectListItem>
                            {
                               new SelectListItem{ Text="Select Religion", Value = "0" },
                               new SelectListItem{ Text="Hindu", Value = "Hindu" },
                               new SelectListItem{ Text="Muslim", Value = "Muslim" },
                               new SelectListItem{ Text="Christian", Value = "Christian" },
                               new SelectListItem{ Text="Jain", Value = "Jain" },
                               new SelectListItem{ Text="Others", Value = "Others" },
                            }, new { @id = "Religion", @class = "form-control listbox" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top:40px;">
                    <label> @Html.CheckBoxFor(a => a.Created)  Created</label>
                    <label> @Html.CheckBoxFor(a => a.Updated)  Updated</label>
                    <label> @Html.CheckBoxFor(a => a.UpdatePending)  Update Pending</label>
                </div>
            </div>
            <div class="card-footer text-center">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
