@model List<WBT.DLCustomerCreation.DLItemRateCreation>

    <table id="dataGrid" class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Rate Per Unit
                </th>
                <th>
                    Base Price
                </th>
                <th>
                    Effective Date
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    int j = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(a => item.ItemName, new { @style = "border:none" })
                                @Html.HiddenFor(a => a[j].RateID, new { @class = "clsrate" })
                            </td>
                            <td>
                                @Html.DisplayFor(a => item.PerUnitRateName, new { @style = "border:none" })
                            </td>
                            <td>
                                @Html.HiddenFor(a => a[j].IsEdited, new { @class = "clsedited" })
                                @Html.TextBoxFor(a => a[j].BaseRateOther, new { @class = "form-control clsbaserate", @onchange = "priceChanged(this)", @onkeypress = "return isdecimalKey(event);" })
                            </td>
                            <td>
                                @Html.DisplayFor(a => item.EffectiveDate, new { @style = "border:none" })
                            </td>
                        </tr>
                        j++;
                    }

                }
            }
        </tbody>
    </table>

