
@{
    ViewBag.Title = "Customer Credit Types";
}

<div class="main-panel" id="MainDiv">
    <div class="row">
        <div class="col-12 grid-margin">
            <div id="divCreate">
                @Html.Action("Create")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div id="divList">
                @Html.Action("CreditTypeList")
            </div>
        </div>
    </div>
</div>

<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            Loading, please wait... <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>

@section scripts {

    <script>
        function onCreateSuccess_Ajax(data) {
             Swal.fire({
                    text: data,
                }).then((result) => {
                    $("#divCreate").load('@Url.Action("Create", "CreditTypes")');
                    $("#divList").load('@Url.Action("CreditTypeList", "CreditTypes")');
                    setTimeout(function () {
                        loadDataTableWithButtons();
                    }, 1000);
                });
        }
        function onEditSuccess_Ajax(data) {
            Swal.fire({
                text: data.Message,
                }).then((result) => {
                    $("#divCreate").load('@Url.Action("Create", "CreditTypes")');
                    $("#divList").load('@Url.Action("CreditTypeList", "CreditTypes")');
                    setTimeout(function () {
                        loadDataTableWithButtons();
                    }, 1000);
                });
        }
        function onBegin_Ajax(data) {
        }
        function onErrorCreate(error) {

        }
        function Ajax_Edit_Failure(xhr, statusDescription) {
            swal(xhr.statusDescription);
        }
        function onEditSuccess() {
            $("#CreditTypeName").focus();
        }
        function onDeleteSuccess(data) {
            if (data.url) {
                window.location = '@Url.Action("Index", "Login")';
            }
            Swal.fire({
                text: data,
            }).then((result) => {
                $("#divList").load('@Url.Action("CreditTypeList", "CreditTypes")');
                setTimeout(function () {
                    $("#dataGrid").dataTable().fnDestroy();
                    loadDataTableWithButtons();
                }, 1000);
            });
        }
        function onEditCompleteCreate_Ajax() {

        }
        function Ajax_OnComplete() {

        }
        function onSaveCompleteCreate_Ajax() {

        }
    </script>
    <script>
        function btnCancel_Click() {
            $('#divCreate').load('@Url.Action("Create", "CreditTypes")');
            setTimeout(function () {
                LoadListBox();
            }, 1000);
        }
    </script>

    <script>
        jQuery(document).ready(function ($) {
            loadDataTableWithButtons();
        });
    </script>

}

